[Unit]
Description=Gunicorn service for flask app
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/flask_app
Environment="PATH=/home/ubuntu/flask_app/venv/bin"
ExecStart=/home/ubuntu/flask_app/venv/bin/gunicorn \
	-w 3 \
	-b 127.0.0.1:8000 \
	app:app

Restart=always

[Install]
WantedBy=multi-user.target
